html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  color: hsl(217, 19%, 35%);
}

/************************* ARTICLE CONTENT MOBILE STYLES **************************/


.article-container {
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 345px;
}

.article-image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-width: 100%;
  height: 200px;
  background-position: center;
  background-size: 100%;
  background-image: url('./images/drawers.jpg');
}

.article-title {
  font-size: 1.095rem;
  line-height: 1.5;
}

.article-content {
  padding: 30px;
}

.article-content p {
  margin: 0;
  padding: 0;
  color: hsl(214, 17%, 51%);
  line-height: 1.75;
}


/************************* FOOTER MOBILE STYLES **************************/

.article-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 12px 30px;
  overflow: hidden;
}

/************************* AUTHOR INFO MOBILE STYLES **************************/


.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 0;
}

.article-author {
  margin-top: 0;
  margin-bottom: 3px;
}

.avatar-image {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.article-date {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
  margin: 0;
}

/************************* SHARE CONTAINER MOBILE STYLES **************************/


.share-icon {
  width: 40px;
  height: 40px;
  color: hsl(214, 17%, 51%);
  background-color: hsl(210, 46%, 95%);
  border-radius: 100%;
  position: relative;
  z-index: 15;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 1.25rem;
}

.share-title {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-left: 30px;
}

.share-container {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: hsl(217, 19%, 35%);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.25s;
  opacity: 0;
}

.share-container .icon {
  margin: 0 10px
}

.show-share-container {
  top: 0;
  opacity: 1;
}

.toggled-icon {
  background-color: hsl(214, 17%, 51%);
  color: hsl(210, 46%, 95%);
}




/************************* ATTRIBUTION MOBILE STYLES **************************/



.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}











/************************* DESKTOP STYLES **************************/

@media (min-width: 1440px) {
  .article-container {
    flex-direction: row;
    max-width: unset;
  }

  .article-image {
    width: 290px;
    height: 100%;
    background-size: cover;
    background-position: left;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
  }

  .article-title {
    font-size: 1.2rem;
    margin-top: 0;
  }

  .article-content-container {
    width: 415px;
  }

  .article-content {
    padding: 30px 30px 0;
  }

  .article-footer {
    padding: 20px 30px 30px;
    overflow: visible;
  }

  .avatar-image {
    width: 40px;
    height: 40px;
  }

  .article-author, .article-date {
    font-size: 13px;
  }

  .share-container {
    right: -85px;
    left: unset;
    top: -60px;
    width: 230px;
    height: unset;
    padding: 15px 20px;
    justify-content: center;
    border-radius: 10px;
  }

  .share-container::after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid hsl(217, 19%, 35%);
    position: absolute;
    top: 100%;  

  }

  .share-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 13px;
  }

  .share-container .icon {
    margin-left: 10px;
  }

  .share-icon:hover {
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
    transform: scale(1.15, 1.15);
  }

  .attribution {
    font-size: 1rem;
  }



}